.judul-label{
background-color:#E5ECF9;
font-weight:bold;
line-height:1.4em;
margin-bottom:5px;
overflow:hidden;
white-space:nowrap;
vertical-align: baseline;
margin: 0 2px;
outline: none;
cursor: pointer;
text-decoration: none;
font: 14px/100% Arial, Helvetica, sans-serif;
padding: .5em 2em .55em;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-border-radius: .5em; 
-moz-border-radius: .5em;
border-radius: .5em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 1px 1px 4px #AAAAAA;
box-shadow: 0 1px 2px rgba(0,0,0,.2);
color: #e9e9e9;
border: 2px solid white !important;
background: #ff39a0;
background: -webkit-gradient(linear, left top, left bottom, from(#710477), to(#e522ef));
background: -moz-linear-gradient(top,  #fa669e,  #ff39a0);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#710477', endColorstr='#e522ef');
	
}

.data-list{
line-height:1.5em;
margin-left:5px;
margin-right:5px;
padding-left:15px;
padding-right:5px;
white-space:nowrap;
text-align:left;
font-family:"Arial",sans-serif;
font-size:12px;
}

.list-ganjil{
background-color:#F6F6F6;
}

.headactive{
	color: #fef4e9;
	border: 2px solid white !important;
	background: #d904d9;
	background: -webkit-gradient(linear, left top, left bottom, from(#630460), to(#ac01ac));
	background: -moz-linear-gradient(top,  #630460,  #ac01ac);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#630460', endColorstr='#ac01ac');
}
